// Tipografia
$main_font:     'Bangers', cursive;
$second_font:   'Bungee Hairline', cursive;
$third_font:    'Montserrat', sans-serif;
$fourth_font:   'Rock Salt', cursive;
$fifth_font:    'Krub', sans-serif;

// Color Palet's: Choose wisely! 

// Rock Collors Palette
$blacky:    #0a070b;
$pink:      #fa61ba;
$aflo:      #0bf856;
$cream:     #fffeec;
$coldsky:   #036eb9;


// Optionals
$sea:       #2c8fa2;
$sand:      #f5d797;
$colita:    #fe2a38;
$deepsea:   #002851;

// MediaQueries Sizes
$telefono:  480px;
$tablet:    768px;
$desktop:   992px;
$desktopXL: 1200px;


